/**
* @file fonts.css
*/

/* Examples */

/* @import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap'; */
/* @font-face {
  font-display: auto;
  font-family: 'Circular';
  font-style: normal !important;
  font-weight: normal !important;
  src: url('/fonts/CircularSpotifyText-Book.woff2') format('woff2'),
    url('/fonts/CircularSpotifyText-Book.woff') format('woff'),
    url('/fonts/CircularSpotifyText-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularSpotifyText-Book.ttf') format('truetype');
} */

/* @font-face {
  font-display: auto;
  font-family: 'CaslonAntique';
  font-style: normal !important;
  font-weight: normal !important;
  src: url('/fonts/CaslonAntique.woff2') format('woff2'),
    url('/fonts/CaslonAntique.woff') format('woff'),
    url('/fonts/CaslonAntique.ttf') format('truetype');
}

@font-face {
  font-display: auto;
  font-family: 'CaslonAntique';
  font-style: normal !important;
  font-weight: bold !important;
  src: url('/fonts/CaslonAntique-Bold.woff2') format('woff2'),
    url('/fonts/CaslonAntique-Bold.woff') format('woff'),
    url('/fonts/CaslonAntique-Bold.ttf') format('truetype');
}

@font-face {
  font-display: auto;
  font-family: 'CaslonAntique';
  font-style: italic !important;
  font-weight: normal !important;
  src: url('/fonts/CaslonAntique-Italic.woff2') format('woff2'),
    url('/fonts/CaslonAntique-Italic.woff') format('woff'),
    url('/fonts/CaslonAntique-Itlic.ttf') format('truetype');
}

@font-face {
  font-display: auto;
  font-family: 'CaslonAntique';
  font-style: italic !important;
  font-weight: bold !important;
  src: url('/fonts/CaslonAntique-BoldItalic.woff2') format('woff2'),
    url('/fonts/CaslonAntique-BoldItalic.woff') format('woff'),
    url('/fonts/CaslonAntique-BoldItalic.ttf') format('truetype');
} */
